<%- include('partials/header') -%> 
<main>
    <div id="indxDiv">
        <a role ="button" class="indxBtn" href="/login"> Login</a>
        <a role ="button" class="indxBtn" href="/signup"> Signup</a>
    </div>
</main> 

<%- include('partials/footer') -%>
